<div class="help">
    <div class="help_l">
        <div class="help1"></div>
        <div class="help2"></div>
        <div class="help3"></div>
        <div class="help4"></div>
    </div>
    <div class="help_r">
        <h3>知识堂首页&gt;&gt;注册&认证</h3>
        <div class="line"></div>
        <p>
            享受贵美网免费网上交易乐趣，并且在超人气的社区尽情交流您的网上购物经验，你需要先注册成为贵美的会员，具体的步骤如下：
        </p>
        <div class="reg_step"></div>
        <ul>
            <li><a href="#">如何激活会员名？</a></li>
            <li><a href="#">如何注册贵美会员？</a></li>
            <li><a href="#">注册时密码设置有什么要求？</a></li>
            <li><a href="#">为什么校验码明明是对的，却提示我输入错误？</a></li>
        </ul>
    </div>
</div>