<div class="login ell">
    <div class="login_l rel">
        <img src="./styles/images/logintitle.gif" alt="login">
        <form class="rel">
            <table class="abs">
                <tr>
                    <td>会员名:</td>
                    <td><input type="text" name="username" id="username" placeholder="请输入会员名"></td>
                    <td>(可包含a-z，0-9和下划线)</td>
                </tr>
                <tr>
                    <td>密&nbsp;&nbsp;&nbsp;&nbsp;码:</td>
                    <td><input type="password" name="passwd" id="passwd" placeholder="请输入密码"></td>
                    <td>(至少包含6个字符)</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="image" src="./styles/images/login.gif" alt="login"></td>
                </tr>
            </table>
        </form>
        <ul class="abs">
            <li>δ&nbsp;&nbsp;<a href="#">什么是安全登录。</a></li>
            <li>δ&nbsp;&nbsp;香港會員(繁體用戶)由此<a href="#/login">登入</a></li>
            <li>δ&nbsp;&nbsp;<a href="#">密码安全贴士。</a></li>
            <li>δ&nbsp;&nbsp;防止病毒或木马窃取您的账户信息，<a href="#">在线检查</a>您的电脑是否安全。</li>
        </ul>
    </div>
    <div class="login_r">
        <img src="./styles/images/register.gif" alt="register">
        <ul id="lr">
            <li><i class="ruli_1"></i><span>便宜有好货！</span>超过7000万件商品供您选。</li>
            <li><i class="ruli_2"></i><span>买卖更安全！</span>交易超安全。</li>
            <li><i class="ruli_3"></i><span>免费开网店！</span>轻松赚钱交友。</li>
            <li><i class="ruli_4"></i><span>超人气社区！</span>精彩活动每一天。</li>
        </ul>
        <a href="#"><img src="./styles/images/registernow.gif" alt="现在注册"></a>
        <ul  id="ral" class="ral auto">
            <li><i class="log"></i>您已经是会员？<a href="#/login">由此登入</a></li>
            <li><i class="reg"></i>繁体中文用户由此<a href="#/register">注册</a></li>
        </ul>
    </div>
</div>