<div class="info">
    <label class="db tc mt15 f15">联想Y450A-TFO(NBA纪念版) 512独显超强性价比</label>
    <hr>
    <div class="flex_x pb10">
        <div class="p5 mr30" ng-controller="changeCtrl">
            <img ng-src="./styles/images/{{show.img_url}}" alt="big">
            <div class="flex_x p10">
                <img class="bdd" src="./styles/images/show1.jpg" alt="show1" ng-click="change(0)">
                <img class="bdd" src="./styles/images/show2.jpg" alt="show2" ng-click="change(1)">
                <img class="bdd" src="./styles/images/show3.jpg" alt="show3" ng-click="change(2)">
                <img class="bdd" src="./styles/images/show4.jpg" alt="show4" ng-click="change(3)">
                <img class="bdd" src="./styles/images/show5.jpg" alt="show5" ng-click="change(4)">
            </div>
            <div class="flex_x">
                <img src="./styles/images/share.gif" alt="share">
                <img src="./styles/images/favthis.gif" alt="fav">
            </div>
        </div>
        <div class="f13 lh30 w400">
            <div class="bbg">
                <span class="w70 pr15 tj">一口价:</span>
                <span class="w100">80.00元</span>
            </div>
            <div class="bbg">
                <span class="w70 tj">运费:</span>
                <span class="w100">免运费</span>
            </div>
            <input type="image" class=" mt10" src="./styles/images/buynow.gif" alt="立即购买">
            <div class="online_pay lh18">
                此商品支持网银支付，网上汇款免手续费。<br>
                收货满意后出售者才能拿到钱，货款都安全！
            </div>
            <div class="bbg">
                <span class="w70">剩余时间:</span>
                <span class="w100">10天23小时</span>
            </div>
            <div class="bbg">
                <span class="w70">本期出售:</span>
                <span class="w100">2件</span>
            </div>
            <div class="bbg">
                <span class="w70">累计售出:</span>
                <span class="w100">8件</span>
            </div>
            <div class="bbg">
                <span class="w70">累计售出:</span>
                <span class="w100">8件</span>
            </div>
            <div class="bbg">
                <span class="w70">商品类型:</span>
                <span class="w100">全新</span>
                <span class="w70">所在地:</span>
                <span class="w100">山西太原</span>
            </div>
            <div class="bbg">
                <span class="w70">商品数量:</span>
                <span class="w100">1件</span>
                <span class="w70">浏览量:</span>
                <span class="w100">17</span>
            </div>
        </div>
        <div class="f1"></div>

    </div>
</div>