<div class="sale ell f15">
    <ul class="sale_list pt40 tc">
        <li class="pl15">
            <label class="pct10"><input type="checkbox">全选</label>
            <label class="pct30">商品图片</label>
            <label class="pct40">商品名称/出售者/联系方式</label>
            <label class="pct10">价格</label>
        </li>
        <li ng-repeat="x in lists" class="pt5 pl15 f14">
            <input class="pct10" type="checkbox">
            <a href="#" class="pct30"><img ng-src="./styles/images/{{x.img_url}}"></a>
            <span class="pct40">
                <br>
                <a>{{x.feature}}</a>
                <br>
                出售者：<a>{{x.seller}}</a>
                <br>
                <img class="mr5" src="./styles/images/contactme.gif" alt="contactme">
                <img src="./styles/images/addfav.gif" alt="addfav">
                <span class="f12">收藏</span>
            </span>
            <span class="pct10">
                <br>
                一口价：<br><br>
                &nbsp;&nbsp;￥{{x.price}}
            </span>

        </li>
    </ul>
</div>